@model IEnumerable<ToDoApp.Data.ToDoList>

@{
    ViewData["Title"] = "To Do Lists";
}

<div class="row">
    <h1 class="col">@ViewData["Title"]</h1>
    <div class="col-auto btn btn-success align-self-center" hx-prompt="List Title" hx-post="/Home/CreateList" hx-target="#todo-lists" hx-swap="afterbegin">New List</div>
</div>
<hr />
<div id="todo-lists">
@foreach(var list in Model)
{
        <partial name="NewToDoListPartial" for="@list" />    
}
</div>